body{

    min-height: 4096px;
    min-width: 4096px;
}

#footer{

    height: 200px;
    width: 100%;
    position: fixed;
    top: 80vh;
    background-color: yellow;
    transition: all 1s ease-in-out;
}


.footer.scroll{
    background-color: rgb(255, 0, 191)!important;


}
.footer.scroll2{
    background-color: rgb(4, 0, 255)!important;


}