@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
#conteneur_competences #conteneur_competences_section_centrale #conteneur_textes_competences, #conteneur_competences #conteneur_competences_section_centrale #logo_languages, #conteneur_competences, #a_propos #lien_cv a, #a_propos #textes_presentation, #a_propos, #container #para_4, #container #para_3, #container #para_2, #container #para_1, #accueil, header #nav_et_rs #div_reseaux_sociaux, header #nav_et_rs nav .lien_nav, header #nav_et_rs, header #div_logo a, header #div_logo, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1d1d1d;
  font-family: "Rajdhani", sans-serif;
  height: 100vh;
}

main {
  display: flex;
  font-family: "Rajdhani", sans-serif;
}

header {
  position: fixed;
  z-index: 100;
  flex-direction: column;
  justify-content: space-between;
  background-color: #141414;
  width: 180px;
  height: 100vh;
  color: darkgray;
}
header #div_logo {
  flex-direction: column;
  justify-content: space-around;
  height: 190px;
  width: 100%;
  background-color: black;
}
header #div_logo a {
  margin-top: 15px;
  color: darkgray;
  text-decoration: none;
  flex-direction: column;
}
header #div_logo a img {
  width: 120px;
}
header #div_logo h1 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 10px;
}
header #div_logo p {
  margin-bottom: 10px;
}
header #nav_et_rs {
  height: 82%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
header #nav_et_rs nav {
  width: 100%;
  margin-top: 100px;
}
header #nav_et_rs nav .lien_nav {
  height: 50px;
  width: 100%;
  border-top: solid 1px grey;
}
header #nav_et_rs nav #dernier_boutton {
  border-bottom: solid 1px grey;
}
header #nav_et_rs nav button {
  font-family: "Rajdhani", sans-serif;
  background-color: transparent;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: darkgray;
  border: none;
}
header #nav_et_rs nav button:hover {
  cursor: pointer;
  background-color: #2a2a2a;
  transition-duration: 500ms;
  color: #75aaff;
}
header #nav_et_rs nav button:focus {
  outline: 0;
}
header #nav_et_rs #div_reseaux_sociaux {
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
header #nav_et_rs #div_reseaux_sociaux a img {
  display: block;
  height: 25px;
  width: 25px;
  transition-duration: 200ms;
}
header #nav_et_rs #div_reseaux_sociaux a img:hover {
  transform: rotate(8deg);
  transition-duration: 200ms;
}

#section_centrale {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 181px;
  width: calc(100vw - 199px);
}

#accueil {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#accueil .type-js {
  height: 100px;
}
#accueil .type-js2 {
  height: 100px;
}
#accueil .type-js3 {
  height: 100px;
}
#accueil .headline {
  margin-left: 90px;
  color: #d6d6d6;
  font-size: 32px;
}
#accueil .headline p {
  text-align: left;
  font-weight: bold;
  font-size: 5rem;
}
#accueil .text-js {
  opacity: 0;
}
#accueil #details_dev {
  margin-left: 90px;
  margin-top: 40px;
  color: darkgray;
  font-size: 1.2rem;
}
#accueil #boutton_contact_accueil {
  margin-left: 90px;
  margin-top: 40px;
  height: 50px;
  width: 150px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.1rem;
  background-color: #252525;
  color: #1397EA;
  border: solid 1px #1397EA;
  transition: 0.7s;
}
#accueil #boutton_contact_accueil:hover {
  cursor: pointer;
  background-color: #1397EA;
  color: white;
  transition: 0.7s;
}
#accueil .animate__animated.animate__fadeInUp {
  animation-delay: 2.8s;
  animation-duration: 0.3s;
}

.effet_lettres {
  transition: 0.2s;
}
.effet_lettres:hover {
  color: #1397EA;
  font-size: 4.8rem;
}

#container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#container #para_1 {
  position: absolute;
  left: 60%;
  top: 20%;
  height: 150px;
  width: 250px;
  background-color: #353535;
  box-shadow: 7px 7px 20px #0f0f0f;
  color: #cccccc;
}
#container #para_1 p {
  font-weight: 500;
  font-size: 3rem;
  transition: 0.7s;
  top: 0%;
  text-transform: uppercase;
}
#container #para_1:hover > p {
  transform: scaleX(-1);
  transition: 0.7s;
  color: #7c94ff;
}
#container #para_2 {
  position: absolute;
  left: 25%;
  top: 14%;
  height: 100px;
  width: 200px;
  background-color: #33313f;
  box-shadow: 5px 5px 15px #0f0f0f;
  color: #cccccc;
}
#container #para_2 p {
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.7s;
  top: 0%;
  text-transform: uppercase;
}
#container #para_2:hover > p {
  transform: scaleX(-1);
  transition: 0.7s;
  color: #7c94ff;
}
#container #para_3 {
  position: absolute;
  left: 25%;
  top: 75%;
  height: 190px;
  width: 280px;
  background-color: #28272a;
  box-shadow: 8px 8px 30px #0f0f0f;
  color: #cccccc;
}
#container #para_3 p {
  font-weight: 500;
  font-size: 2.7rem;
  transition: 0.7s;
  top: 0%;
  text-transform: uppercase;
}
#container #para_3:hover > p {
  transform: scaleX(-1);
  transition: 0.7s;
  color: #7c94ff;
}
#container #para_4 {
  position: absolute;
  left: 60%;
  top: 70%;
  height: 200px;
  width: 350px;
  background-color: #31313b;
  box-shadow: 10px 10px 30px #0f0f0f;
  color: #cccccc;
}
#container #para_4 p {
  font-weight: 500;
  font-size: 4rem;
  transition: 0.7s;
  top: 0%;
  text-transform: uppercase;
}
#container #para_4:hover > p {
  transform: scaleX(-1);
  transition: 0.7s;
  color: #7c94ff;
}
#container #para_1, #container #para_2, #container #para_3, #container #para_4 {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
#container .load {
  opacity: 1 !important;
}

#a_propos {
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  color: darkgray;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow: hidden;
}
#a_propos img {
  width: 190px;
}
#a_propos #textes_presentation {
  flex-direction: column;
  justify-content: space-around;
  height: 45%;
  width: 45%;
}
#a_propos #textes_presentation p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}
#a_propos #textes_presentation a {
  text-decoration: none;
}
#a_propos .laplateforme a {
  font-weight: bold;
  color: #1397EA;
}
#a_propos #lien_cv a {
  height: 100%;
  width: 100%;
  color: darkgray;
}
#a_propos #lien_cv {
  height: 30px;
  width: 100px;
  background-color: transparent;
  border: solid 1px;
  transition: 0.5s;
}
#a_propos #lien_cv:hover {
  background-color: #075788;
  border: none;
  transition: 0.5s;
}

#conteneur_competences {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  animation-duration: 0.8s;
}
#conteneur_competences #conteneur_competences_section_centrale {
  box-shadow: 10px 10px 20px black;
  width: 60%;
  height: 60%;
  border-radius: 30px;
}
#conteneur_competences #conteneur_competences_section_centrale #logo_languages {
  height: 200px;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}
#conteneur_competences #conteneur_competences_section_centrale #logo_languages img {
  width: 90px;
  animation-duration: 0.8s;
}
#conteneur_competences #conteneur_competences_section_centrale #conteneur_textes_competences {
  width: 100%;
  height: 60%;
  background-color: #141414;
  flex-direction: column;
  justify-content: space-around;
  color: darkgray;
  animation-duration: 0.8s;
}
#conteneur_competences #conteneur_competences_section_centrale #conteneur_textes_competences h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  animation-duration: 0.8s;
}
#conteneur_competences #conteneur_competences_section_centrale #conteneur_textes_competences h2 {
  font-weight: 400;
  font-size: 2rem;
  animation-duration: 0.8s;
}
#conteneur_competences #conteneur_competences_section_centrale #conteneur_textes_competences ul {
  animation-duration: 0.8s;
}
#conteneur_competences #conteneur_competences_section_centrale #conteneur_textes_competences li {
  font-size: 1.2rem;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax h1 {
  text-align: center;
  color: darkgray;
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #3a2914;
}
.parallax .images_projets {
  width: 600px;
}
.parallax .parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-0.5px);
}

.parallax__layer--back2 {
  transform: translateZ(-1px);
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

#projets_image-1 {
  transform: translate(800px, 500px);
}

#projets_image-2 {
  transform: translate(200px, 50px);
}

#projets_image-3 {
  transform: translate(1000px, -10px);
}

/*# sourceMappingURL=style.css.map */
